<!DOCTYPE html>
<html lang="en">
<!-- ============================================================================================-->
<!-- **psstt** This is a secret page. You're not supposed to see this code! -->
<!-- Go away! Last Warning! -->
<!-- DAMN! You're a badass. -->
<!-- Using minimal css framework: http://github.com/miteshninja/sakura -->
<!-- ============================================================================================-->
<head>
    <!-- Config -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Information -->
    <title>{% block title %}{{ site_name }}{% endblock %}</title>

    <!-- Assets -->
    <link rel="stylesheet" href="{{ site_baseurl }}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{ site_baseurl }}/assets/css/sakura.css" async>
    <link rel="stylesheet" href="{{ site_baseurl }}/assets/css/custom.css" async>
    <link rel="stylesheet" href="{{ site_baseurl }}/assets/css/pygments.css" async>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>

<body>
<header>
    <nav>
        <a class="sakura-blossom no-border" href="{{ site_baseurl }}/">{{ site_name }}</a> ::
        <a class="sakura-fade no-border" href="{{ site_baseurl }}/blog/">blog</a>
        <a class="sakura-fade no-border" href="{{ site_baseurl }}/about/">about</a>
    </nav>
</header>
<main>
    {%- block body -%}{%- endblock -%}
</main>
</body>
</html>
