{% extends "base.html" %}
{%- block body -%}
<h1>{{ title }}</h1>
{{ content }}
{%- if index -%}
<h2>Index</h2>
{%- for post_id, post in site.pages.items() -%}
{%- if post.category == category and post.layout != "index" -%}
<div>
    <ul>
        <li style="padding-bottom:7px;">
            <a class="no-border" href="{{ post.slug }}" title="{{ post.title }}">{{ post.title }} </a><small><em><span class="sakura-blossom inline-block">-{{ post.date | datetimeformat('%d %b, %Y') }}</span></em></small>
        </li>
    </ul>
</div>
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- endblock -%}
